# Python / IDE
__pycache__/
*.pyc
.ipynb_checkpoints/
.idea/
.vscode/
venv/
.venv/

# System / Logs
.DS_Store
**/.DS_Store
logs/
*.log
spark-warehouse/
metastore_db/
checkpoint/

# Data
data/
*.csv
*.parquet