# Data and binaries
data/**/*
!data/**/
!**/.gitkeep
models/
*.csv

# .env
.env

# Local Python environment
.venv/
venv/
__pycache__/
*.pyc

# IDE and System
.idea/
.vscode/
.DS_Store
**/.DS_Store
**/.ipynb_checkpoints/

# Logs
logs/
*.log
checkpoint/
