# Data and binaries
data/
*.csv
*.parquet
models/

# Database files (Cassandra)
infrastructure/cassandra/

# .env
.env
docker/**/*.env

# Local Python environment
.venv/
venv/
__pycache__/
*.pyc

# IDE and System
.idea/
.vscode/
.DS_Store
**/.DS_Store

# Logs
logs/
*.log
checkpoint/