services:
  cassandra:
    container_name: cassandra
    hostname: cassandra
    image: cassandra:4.1
    ports:
      - '9042:9042'
    env_file:
      - docker/cassandra/cassandra.env
    volumes:
      - ./infrastructure/cassandra:/var/lib/cassandra
    healthcheck:
      test: [ "CMD", "nodetool", "status" ]
      interval: 20s
      timeout: 5s
      retries: 5
    restart: on-failure
    deploy:
      resources:
        limits:
          memory: 4G

  cassandra-init:
    image: cassandra:4.1
    container_name: cassandra-init
    depends_on:
      cassandra:
        condition: service_healthy
    volumes:
      - ./infrastructure/migration/init.cql:/init.cql
    command: /bin/bash -c "cqlsh cassandra -f /init.cql"

  spark-master:
    container_name: spark-master
    hostname: spark-master
    build:
      context: .
      dockerfile: ./docker/spark/Dockerfile
    env_file:
      - docker/spark/spark-master.env
    ports:
      - '8080:8080'
      - '7077:7077'
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080" ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
    volumes:
      - .:/opt/spark/work-dir
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    deploy:
      resources:
        limits:
          memory: 2G

  spark-worker:
    container_name: spark-worker
    build:
      context: .
      dockerfile: ./docker/spark/Dockerfile
    env_file:
      - docker/spark/spark-worker.env
    depends_on:
      spark-master:
        condition: service_healthy
      cassandra:
        condition: service_healthy
    volumes:
      - .:/opt/spark/work-dir
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    deploy:
      resources:
        limits:
          memory: 4G

  jupyter:
    container_name: jupyter
    build:
      context: .
      dockerfile: ./docker/spark/Dockerfile
    ports:
      - '8888:8888'
    volumes:
      - .:/opt/spark/work-dir
    env_file:
      - docker/spark/jupyter.env
    depends_on:
      spark-master:
        condition: service_healthy
    command: jupyter lab --ip=0.0.0.0 --port=8888 --no-browser --NotebookApp.token='' --allow-root
    deploy:
      resources:
        limits:
          memory: 2G